@* adam4017Config Template File *@
@(obj: String)
	<div class="form-group">
		<label class="col-lg-2 control-label">位址</label>
	   	<div class="col-lg-2">
	    	<input type="text" id="4017_addr" class="form-control" value="01" maxlength="2">
	    </div>	            		
	</div>

	<div class="form-group">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>通道</th>
				<th>啟用</th>
				<th>測項</th>
				<th>最大值</th>
				<th>測項最大測</th>
				<th>最小值</th>
				<th>測項最小測</th>
			</tr>
		</thead>
		<tbody>
		@for(n <- 0 to 7){
			<tr>
				<td>CH@n</td>
				<td><input type="checkbox" id="CH@{n}_enable" class="form-control"></td>
				<td><select class="form-control" id="CH@{n}_mt">
					@for(mt<-MonitorType.mtvList){
						<option value="@mt">@MonitorType.map(mt).desp</option>
					}
  					</select>
				</td>
				<td><input type="text" id="CH@{n}_max" class="form-control"></td>
				<td><input type="text" id="CH@{n}_mtmax" class="form-control"></td>
				<td><input type="text" id="CH@{n}_min" class="form-control"></td>
				<td><input type="text" id="CH@{n}_mtmin" class="form-control"></td>
			</tr>
		}	            			
		</tbody>
	</table>
	</div>
<script>
var summary = function adam4017_getSummary(){
	var desc="";
	desc += "<br/>位址:" + $("#4017_addr").val();
	for(var i=0;i<8;i++){
		var ch = "#CH" + i ;
		var $enable = $(ch+"_enable").prop("checked");
		if($enable){
			desc += "<br/>CH"+i +":啟用";			
			desc += "<br/><strong>測項:" + $(ch+"_mt option:selected")[0].value + "</strong>";
			desc += "<br/>最大值:" + $(ch+"_max").val();
			desc += "<br/>測項最大值:" + $(ch+"_mtmax").val();
			desc += "<br/>最小值:" + $(ch+"_min").val();
			desc += "<br/>測項最小值:" + $(ch+"_mtmin").val();						
		}	
	}
	return desc;
}

var getParam = function adam4017_getParam(){	
	var param={
			addr:$("#4017_addr").val(),
		};

	param.ch=[];
	for(var i=0;i<8;i++){
		var chCfg = {}		
		var ch = "#CH" + i ;
		var $enable = $(ch+"_enable").prop("checked");
		chCfg.enable = $enable 
		if($enable){
			chCfg.mt = $(ch+"_mt option:selected")[0].value;
			chCfg.max = parseFloat($(ch+"_max").val());
			chCfg.mtMax = parseFloat($(ch+"_mtmax").val());
			chCfg.min = parseFloat($(ch+"_min").val());
			chCfg.mtMin = parseFloat($(ch+"_mtmin").val());
		}
		param.ch.push(chCfg);
	}
	
	return param;
}
var validate = function(){
	if($("#4017_addr").val().length ==0){
		alert("位址是空的!");
		return false;
	}

	for(var i=0;i<8;i++){
		var ch = "#CH" + i ;
		var $enable = $(ch+"_enable").prop("checked");
		if($enable){
			try{
				if($(ch+"_max").val().length == 0){
					alert("請指定最大值");
					return false;
				}
				if($(ch+"_mtmax").val().length == 0){
					alert("請指定測項最大值");
					return false;
				}
				if($(ch+"_min").val().length == 0){
					alert("請指定最小值");
					return false;
				}
				if($(ch+"_mtmin").val().length == 0){
					alert("請指定測項最小值");
					return false;
				}				
				parseFloat($(ch+"_max").val());
				parseFloat($(ch+"_mtmax").val());
				parseFloat($(ch+"_min").val());
				parseFloat($(ch+"_mtmin").val());
			}catch(ex){
				alert(ex.toString());
				return false;
			}
		}		
	}
	
	return true;

}
var adam4017Config={
	summary:summary,
	param:getParam,
	validate:validate
}; 
</script>
<script>
@{obj}['adam4017'] = adam4017Config;
</script>