@* instrumentList Template File *@
@(param: Any)
<script>
var oTable;
function hideModal(){
	$("#newEquipModal").modal("hide");
	var api = oTable.api();
	api.ajax.reload();	
}
</script>
<div class="row">	
  	<div class="modal fade" id="newEquipModal" role="dialog">
    	<div class="modal-dialog modal-lg">
      		<div class="modal-content">
      		<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
          		<h4 class="modal-title">新增設備</h4>
        	</div>
        	<div class="modal-body">
        		<script>
					var modal={};
        		</script>
        		@newInstrument("hideModal()")
        		<script>
    				$("#newEquipModal").on('show.bs.modal', function () {        				
    					modal.setupStep();
    				});
    				$("#newEquipModal").on('hidden.bs.modal', function () {        				
    					modal.destroy();
    				});
    			</script>
        	</div>
      		</div>
    	</div>    	
  	</div>
<div class="ibox float-e-margins">
  	<div class="ibox-content">
  	<div class="col-lg-6 col-lg-offset-1">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEquipModal"><i class="fa fa-plus-circle"></i> 新增</button>
		<button type="button" class="btn btn-primary" id="activateInstrument"><i class="fa fa-check-circle"></i> 啟用</button>
		<button type="button" class="btn btn-primary" id="deactivateInstrument"><i class="fa fa-ban"></i> 停用</button>
		<button type="button" class="btn btn-primary" id="maintainInstrument"><i class="fa fa-exchange"></i> 切換維修模式</button>
		<button type="button" class="btn btn-primary" id="calibrateInstrument"><i class="fa fa-balance-scale"></i> 校正</button>
		<button type="button" class="btn btn-danger" id="deleteInstrument"><i class="fa fa-trash"></i> 刪除</button>
									
	</div>
	<table id="instrumentTable" class="table table-bordered table-hover" cellspacing="0" width="100%">
		<thead>
            <tr>
                <th>儀器名稱</th>
                <th>種類</th>
                <th>連線中</th>
                <th>通訊協定</th>
                <th>通訊參數</th>
                <th>每日校正時刻</th>
                <th>測項</th>
            </tr>
        </thead>
    </table>
    </div>
</div>					
</div>
<script>
$( document ).ready(function() {
	var local_url = '/assets/localization/zh_tw.json';
	oTable = $("#instrumentTable").dataTable( {
		ajax: {
	        url: '/Instrument',
	        dataSrc: ''
	    },
		columns: [
		          { data: '_id' },
		          { data: 'instType' },
		          { data: 'state'},
		          { data: 'protocol' },
		          { data: 'protocolParam' },
		          { data: 'calibrationTime',
		        	defaultContent: "-"
			           },
			      { data: 'monitorTypes'}
		      ],
		language: {
			url: local_url,							
		},
		paging:   false,
		searching: false,
		select: {
	        style: 'os'
	    }
	} );

	function handler(url, action){
		return function(){
			var api = oTable.api();
			var selected = api.rows({ selected: true }).data();
			if(selected.length ==0){
				alert("請選擇儀器");
				return;
			}
			
			var names='';
			for(var i=0;i<selected.length;i++){
				if(names.length == 0)
					names += selected[i]._id;
				else
					names += "," + selected[i]._id;
			}
			$.ajax({
				url: url+names,
				data: JSON.stringify(names),
				contentType: "application/json; charset=utf-8",
				method: action,
				dataType: "json",
				success: function(ret){				
					if(ret.ok){
						alert("成功");
					}else
						alert("失敗:"+ret.msg);

					api.ajax.reload();													
				},
				error: function(xhr, status, errorThrown){
					alert("失敗:"+ errorThrown);
				},

				complete: function(xhr, status){
				}					
			});							
		};
	}
	
	$("#deactivateInstrument").click(handler("/DeactivateInstrument/", "PUT"));
	$("#activateInstrument").click(handler("/ActivateInstrument/", "PUT"));
	$("#deleteInstrument").click(handler("/Instrument/", "DELETE"));
	$("#maintainInstrument").click(handler("/ToggleMaintainInstrument/", "PUT"));
	$("#calibrateInstrument").click(handler("/CalibrateInstrument/", "PUT"));
});
</script>