@* monitorTypeList Template File *@
<div class="ibox">
    <div class="ibox-content">
    	<div class="table-responsive">
        	<table id="mtTable" class="table table-striped">
        		<thead>
					<tr>
						<th>測項</th>
						<th>測值</th>
					</tr>
				</thead>
            </table>
        </div>
    </div>
</div>
<script>
$( document ).ready(function(){
	var local_url = '/assets/localization/zh_tw.json';
		
	var oTable = $("#mtTable").dataTable( {
		ajax: {
	        url: '/MonitorTypeStatusList',
	        dataSrc: ''
	    },
		columns: [
		          { data: 'desp' },
		          { data: 'value' },
		      ],
		language: {
			url: local_url,							
		},
		paging:   false,
		searching: false,
		responsive: true,
	} );
	
	setInterval(function (){
		oTable.api().ajax.reload();
	}, 1000);
});
</script>
