@* monitorTypeConfig Template File *@
<div class="row">
    <div class="col-lg-12">
    	<div class="panel panel-primary">
    		<div class="panel-heading panel-title"" >
        		<a data-toggle="collapse" data-parent="#accordion" href="#effectiveRatio">有效數據百分比</a>	
        	</div>
        	<div class="panel-body panel-collapse" id="effectiveRatio">
        		<form id="effectiveRatioForm" class="form-horizontal">
						<br/>
						<div class="form-group">
							<label class="col-lg-1 control-label">百分比:</label>
							<input class="col-lg-1" id="effectiveRatio" value="75" readonly>%																				
						</div>						
				</form>        		
        	</div>
    	</div>
        <div class="panel panel-primary">
        <div class="panel-heading panel-title"" >
        	<a data-toggle="collapse" data-parent="#accordion" href="#monitorType">點擊測項參數加以編輯</a>	
        </div>
        <div class="panel-body panel-collapse" ng-controller="mtConfigCtrl as ctrl">    		
			<div align="center">
            	<table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
        				<tr ng-repeat="mt in ctrl.monitorTypeList track by mt._id">
        					<td data-title="'代碼'">{{mt._id}}</td>
        					<td data-title="'儀器'">{{mt.measuringBy}}</td>
        					<td data-title="'名稱'" ng-bind="mt.desp"></td>
        					<td data-title="'單位'" col="unit">{{mt.unit}}</td>
        					<td data-title="'內控值'" col="std_internal">{{mt.std_internal}}</td>
        					<td data-title="'法規值'" col="std_law">{{mt.std_law}}</td>
        					<td data-title="'小數點位數'" col="prec">{{mt.prec}}</td>
        					<td data-title="'零點偏移內控值'" col="zd_internal">{{mt.zd_internal}}</td>
        					<td data-title="'零點偏移法規值'" col="zd_law">{{mt.zd_law}}</td>
        					<td data-title="'全幅偏移內控值'" col="span_dev_internal">{{mt.span_dev_internal}}</td>
        					<td data-title="'全幅偏移法規值'" col="span_dev_law">{{mt.span_dev_law}}</td> 
        				</tr>            			
            	</table>          		
            </div>
       </div>
       </div>
	</div>
</div>