@* monitorTypeRealtimeChart Template File *@
@(chartID: String)
<div class="ibox">
    <div class="ibox-content">
    	<div id="mtRealtimeChart"></div>
    </div>
</div>
<script>
$(document).ready(function(){
	var chartTypes = ['areaspline', 'column', 'spline']
	var chartSeries = [];
	//Init chartSeries
	$.ajax({
		url : '/MonitorTypeStatusList',
		async :false,
		contentType : "application/json; charset=utf-8",
		type : "GET",
		dataType : "json",
		cache:false,
		success : function(result) {
			var now = new Date().getTime();
			for(var i=0;i<result.length;i++){
				var data =[];
				for(j=0;j<20;j++)
					data.push({
		            	x:now,
		            	y:parseFloat(result[i].value)});
            	
				var series = 
					{
			            name: result[i].desp,
			            visible:i==0,
			            type: chartTypes[i%chartTypes.length],
			            data: data
			        }
				chartSeries.push(series);			
			}
		},
		error : function(xhr, status, errorThrown) {
			console.log("錯誤訊息:" + status + "-" + errorThrown);
		},

		complete : function(xhr, status) {

		}
	});
	
	function dataGenerator(time) {
        var data = [];
        var i;

        for (i = -19; i <= 0; i += 1) {
            data.push({
                x: time + i * 1000,
                y: 2 + Math.random()
            });
        }
        return data;
    }
    
    $('#mtRealtimeChart').highcharts({
        chart: {
            type: 'areaspline',

            marginRight: 10,
            height: 300,
            
            events: {
                load: function () {
                    // set up the updating of the chart each second
                    var series = this.series;
                    function reload(){
                        console.log("mtRealtime chart reloading...");
                    	$.ajax({
                    		url : '/MonitorTypeStatusList',
                    		async :false,
                    		contentType : "application/json; charset=utf-8",
                    		type : "GET",
                    		dataType : "json",
                    		cache:false,
                    		success : function(result) {
                        		var x = new Date().getTime();
                    			for(var i=0;i<result.length;i++){
                        			for(var j=0;j<series.length;j++){
                            			if(series[j].name == result[i].desp){
                                			var y = parseFloat(result[i].value);
                            				series[j].addPoint([x, y], true, true);
                            				break;
                            			}
                        			}                    							
                    			}
                    		},
                    		error : function(xhr, status, errorThrown) {
                    			console.log("錯誤訊息:" + status + "-" + errorThrown);
                    		},
                    		complete : function(xhr, status) {}
                    	});
                    	
                    	var timer = setTimeout(reload, 3000);
                    	myTimeout.push(timer);
                    }
                    reload();
                }
            }
            
        },
		navigation:{
	    	buttonOptions: {
	        	enabled: true
	    	}
	    },
	    credits :{
	    	text: "昱山環境技術服務",
			enabled : true,
			href : 'http://www.wecc.com.tw/'
		},
        
        title: {
            text: '測項即時變化'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150
        },
        yAxis: {
            title: {
                text: 'ppm'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                    Highcharts.numberFormat(this.y, 2);
            }
        },
        exporting: {
            enabled: false
        },
        series: chartSeries
    });
});
</script>