@* newInstrument Template File *@
@(endCallback: String)

<script>
	function callback(){
		@endCallback
	}
	var instrumentConfig={};
</script>


<div ng-controller="newInstrumentCtrl" id="newCtrl">
	<form id="new-instrument-form" class="form-horizontal">
		<div>
        <h3>基本資料</h3>
        <section>
        	<div class="form-group">
	        	<label class="col-lg-2 control-label">儀器種類</label>
	            	<div class="col-lg-10">
	            		<div class="btn-group">	            				            				
	            			<label class="btn btn-outline btn-primary" ng-model="$parent.selectedInstTypeId" ng-repeat="instInfoType in instrumentTypeInfos"  uib-btn-radio="instInfoType.id">
	            				{{instInfoType.desp}}</label>	            			
	            		</div>
	            	</div>	            			            		
	        </div>
            <label for="name">儀器ID *</label>
            <input type="text" ng-model="instrumentID" class="required">
            <p>(*) 必要</p>
        </section>
        <h3>通訊協定</h3>
        <section>
        	<div class="form-group">
	        	<label class="col-lg-2 control-label">通訊協定</label>
	            <div class="col-lg-10">
	            	<div class="btn-group">	            				            				
	            			<label class="btn btn-outline btn-primary" ng-model="$parent.selectedProtocol" ng-repeat="protocol in supportedProtocolInfo()"  uib-btn-radio="protocol.id">
	            				{{protocol.desp}}</label>	            			
	            		</div>
	            </div>	            			            		
	        </div>
	        <div ng-switch="selectedProtocol">
	        	<div ng-switch-when="tcp">
					<h3>TCP參數</h3>
		        	<div class="form-group">
		        		<label class="col-lg-2 control-label">主機位址</label>
	    	        		<div class="col-lg-10">
	    	        		<input type="text" ng-model="tcpHost" >
	        	    	</div>	            			            		
	        		</div>
	        	</div>
	        	<div ng-switch-when="serial">
					<h3>RS232參數</h3>
		        	<div class="form-group">
			        	<label class="col-lg-2 control-label">COM</label>
	    		        <div class="col-lg-10">
	    		        	<input type="number" ng-model="comPort">
	        		    </div>	            		
	        		</div>						        	
	        	</div>
	        </div>
        </section>
        <h3>儀器細部設定</h3>
        <section>
        	<div ng-switch="getConfigPage()">
        		<div ng-switch-when="adam4017Cfg">
        			@adam4017Config()
        		</div>
        		<div ng-switch-when="baseline9000Cfg">
            		@baseline9000Config("instrumentConfig")
            	</div> 
        		<div ng-switch-when="tapiCfg">
            		@tapiConfig("instrumentConfig")
            	</div>	
        	</div>        	                       
        </section>
        <h3>結束</h3>
        <section>
        	<h3>新增儀器摘要</h3>
            <div ng-bind-html="getSummary()"></div>
        </section>
    	</div>
	</form>
</div>
<script src="assets/js/app/newInstrument2.js"></script>
<script>
$( document ).ready(function() {
	function getCtrlScope(){		
		return angular.element($("#newCtrl")).scope();
	}
	
	var settings = {
		headerTag: "h3",
		bodyTag: "section",
		transitionEffect: "slideLeft",
		autoFocus: true,
		/* Labels */
	    labels: {
	        cancel: "取消",
	        current: "目前步驟:",
	        pagination: "分頁",
	        finish: "完成",
	        next: "下一步",
	        previous: "前一步",
	        loading: "載入中 ..."
	    }
	};

	function setupStep(){
		var form = $("#new-instrument-form");
		form.validate({
		    errorPlacement: function errorPlacement(error, element) { element.before(error); },
		    rules: {
		        confirm: {
		            equalTo: "#password"
		        }
		    }
		});
		
		form.children("div").steps({
		    headerTag: "h3",
		    bodyTag: "section",
		    transitionEffect: "slideLeft",
		    labels: {
		        cancel: "取消",
		        current: "目前步驟:",
		        pagination: "分頁",
		        finish: "完成",
		        next: "下一步",
		        previous: "前一步",
		        loading: "載入中 ..."
		    },
		    
		    onStepChanging: function (event, currentIndex, newIndex)
		    {
			    if(newIndex == 1){

			    }
			    
			    if(newIndex == 2){
				    			    
			    }
			    
			    if(newIndex == 3){
				    
			    }
			    
		        form.validate().settings.ignore = ":disabled,:hidden";
		        return form.valid();
		    },
		    onFinishing: function (event, currentIndex)
		    {
		    	var ctrl = getCtrlScope();
		    			        
		        return ctrl.validateForm();
		    },
		    
		    onFinished: function (event, currentIndex)
		    {
		    	var ctrl = getCtrlScope();
		    	console.log(ctrl);
		    	var param = ctrl.getParam();
		    	console.log(param);
		    	
			    var newInstrument= {
					_id: ctrl.instrumentID,
					instType: ctrl.selectedInstTypeId,
					protocol:{
						protocol:ctrl.selectedProtocol,
						host:ctrl.tcpHost,
						comPort:parseInt(ctrl.comPort),
					},
					param:JSON.stringify(param),
					active:true,
					state:"010"
			    };
			    
				$.ajax({
					url: "/Instrument",
					data: JSON.stringify(newInstrument),
					contentType: "application/json; charset=utf-8",
					method: "PUT",
					dataType: "json",
					success: function(ret){				
						if(ret.ok){
							alert("成功");
						}else
							alert("失敗:"+ret.msg);
							
						callback();													
					},
					error: function(xhr, status, errorThrown){
						alert("失敗:"+ errorThrown);
					},

					complete: function(xhr, status){
					}					
				});
		    }
		});
	}

	setupStep();
});
</script>